<header class="header-section">
  <div class="logo-section">
    <img src="../../../../assets/image/logo.svg" alt="logo">
  </div>
  <div class="menu-list">
    <ul>
      <li><a [routerLink]="['home']" [routerLinkActive]="['active']" class="menu">Home</a> </li>
      <li><a [routerLink]="['about']" [routerLinkActive]="['active']" class="menu">About</a> </li>
      <li><a [routerLink]="['pricing']" [routerLinkActive]="['active']" class="menu">Pricing</a> </li>
      <li><a class="menu">Videos</a> </li>
      <li><a class="menu">Testimonials</a> </li>
      <li><a class="menu">Contact</a> </li>
    </ul>
  </div>
  <div class="button-section">
    <button class="header-button">Login</button>
    <button class="header-button icon-button">
      Register
      <img src="../../../../assets/image/play.svg" alt="">
    </button>
  </div>
</header>
