.main-container{
  position: relative;
  .section-container {
    height: calc(100vh - 148px);
    overflow-y: scroll;
  }
  .header{
    position: sticky;
    top: 0;
    background-color: var(--header-background);
    z-index: 1;
  }
  .footer{
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: var(--white);
  }
}
