body {
  --header-background: #00000033;
  --active-link: #306fd5;
  --white: #fff;
  --black: #000;
  --shadow-black: #303030;
  --text-shadow: #00000040;
  --sky-color: #1ce8cf;
  --shadow-white: #f2f8fd;
}
