<div class="banner-container container">
  <div class="banner-section">
    <div class="left-section">
      <h4 class="title">The Future of Estimating</h4>
      <p class="description">
        Your time is money, and we respect that. Register your company, install
        our mobile app, or log in on our web portal.
      </p>
      <div class="button-section">
        <div class="button-icon">
          <button class="started-button">
            Get Started
            <img src="../../../../assets/image/play.svg" alt="" />
          </button>
          <div class="icon">
            <img src="../../../assets/image/check.svg" alt="check-icon" />
          </div>
        </div>
        <span>Your first estimate is free</span>
        <div class="border-div"></div>
      </div>
      <div></div>
    </div>
    <div class="right-section">
      <video
        class="video-js vjs-default-skin"
        #videoPlayer
        preload="none"
        (click)="onVideoPlay()"
        poster="../../../assets/image/poster.png"
        data-setup='{  "playbackRates": [1, 1.5, 2] }'
      >
        <source
          src="../../../assets/video/SampleVideo_1280x720_2mb.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
  <div class="list-section">
    <div class="left-side">
      <div class="title">
        Estimates that save you time and <br />
        communication with the carrier
      </div>
      <ul>
        <li>
          <div class="icon">
            <img src="../../../assets/image/list.svg" alt="list-icon" />
          </div>
          <div class="detail">
            The most accurate and documented estimates in the industry
          </div>
        </li>
        <li>
          <div class="icon">
            <img src="../../../assets/image/project.svg" alt="project-icon" />
          </div>
          <div class="detail">
            Representation of the full scope of the project
          </div>
        </li>
        <li>
          <div class="icon">
            <img src="../../../assets/image/time.svg" alt="time-icon" />
          </div>
          <div class="detail">
            Time-saving estimates and communication with the carrier
          </div>
        </li>
        <li>
          <div class="icon">
            <img src="../../../assets/image/notes.svg" alt="notes-icon" />
          </div>
          <div class="detail">Proper project valuation</div>
        </li>
        <li>
          <div class="icon">
            <img
              src="../../../assets/image/management.svg"
              alt="management-icon"
            />
            <div class="detail">
              Automated process management with our free app
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="right-side">
      <div class="text-section">
        <p>Download <span>FREE</span></p>
        <p>Test Project Mobile App</p>
      </div>
      <div class="icon-section">
        <img
          src="../../../assets/image/google-play.svg"
          alt="google-play-icon"
        />
        <img src="../../../assets/image/app-store.svg" alt="app-store-icon" />
      </div>
      <div class="icon-section qr-code-section">
        <img src="../../../assets/image/qr-code-1.svg" alt="qr-code" />
        <img src="../../../assets/image/qr-code-2.svg" alt="qr-code" />
      </div>
    </div>
  </div>
</div>
