<footer class="footer-container">
  <div class="footer-section">
    <div class="left-side">
      <div class="contact">
        <div class="icon">
          <img src="../../../../assets/image/email-icon.svg" alt="email-icon">
        </div>
        <span>contact@testproject.com</span>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="../../../../assets/image/phone-icon.svg" alt="email-icon">
        </div>
        <span>(123) 124-1234</span>
      </div>
    </div>
    <div class="right-side">
      <span>© 2023 Test Project | All Rights Reserved</span>
    </div>
  </div>
</footer>
